<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <form [formGroup]="userForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter Name" formControlName="name">
            <div *ngIf="userForm.controls.name.touched" style="color: red;">
                <div *ngIf="userForm.controls.name.invalid">
                    This field is required.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="mobile_number">Mobile Number</label>
            <input type="number" class="form-control" id="name" aria-describedby="mobile_number" placeholder="Mobile Number" formControlName="number">
            <div *ngIf="userForm.controls.number.touched" style="color: red;">
                <div *ngIf="userForm.controls.number.invalid">
                    This field is required.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="country">Country</label>
            <select name="" id="" class="custom-select" (change)="onChange($event)">
                <option value="india" selected>India</option>
                <option value="america">America</option>
                <option value="russia">Russia</option>
                <option value="australia">Australia</option>
            </select>
        </div>

        <!-- Radio Button -->
        <div class="form-group">
            <input type="radio" value="male" name="gender" formControlName="gender" (change)="changeGender($event)"> Male
            <input type="radio" value="female" name="gender" formControlName="gender" (change)="changeGender($event)"> Female
        </div>

        <div class="form-group">
            <label for="email">Email address</label>
            <input type="text" class="form-control" id="email" aria-describedby="email" placeholder="Enter email" formControlName="email">
            <div *ngIf="userForm.controls.email.touched" style="color: red;">
                <div *ngIf="userForm.controls.email.invalid">
                    This field is required.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" aria-describedby="password" placeholder="Enter Password" formControlName="password">
            <div *ngIf="userForm.controls.password.touched" style="color: red;">
                <div *ngIf="userForm.controls.password.invalid">
                    This field is required.
                </div>
            </div>
        </div>

        <!-- Checkbox -->
        <div class="form-group">
            <input type="checkbox" (change)="checkTerms($event)" formControlName="terms"> I Agree to Terms & Conditions.
        </div>

        <button class="btn btn-primary" (click)="onSubmit()" >Submit</button>
    </form>
</body>
</html>
<!-- Text field -> Name  -->
    <!-- ?Inline Validation -->
<!-- Number field -> Mobile Number -->
    <!-- ?Inline Validation -->
<!-- Dropdown -->
    <!-- ?Inline Validation -->
<!-- Radio Buttons -->
    <!-- ?Inline Validation -->
<!-- Checkbox -->
    <!-- ?Inline Validation -->
<!-- Age -->
    <!-- ?Inline Validation -->

<!-- Submit Button -->
    <!-- Form Validation -->